<div>
  <!-- <div>
      <video #video width="400" height="300"  playsinline autoplay></video>
      <canvas #canvas></canvas>
  </div> -->
</div>

<div class="room">
  <div class="room-info">
    <div class="logo">Attention Detection Testing.</div>
    <div class="info">
      <div class="room-name">{{ (room | async)?.name }}</div>
      <div class="room-host">Hosted by, {{ (room | async)?.hostName }}</div>
    </div>
  </div>
  <div class="tab">Participants</div>
  <div class="users">
    <ul>
      <li *ngFor="let participant of participants | async">
        <div class="pname">
          {{ participant.name }}
        </div>
        <span class="patt" *ngIf="participant.type == 'host'">{{
          participant.type | titlecase
        }}</span>
        <div
          class="patt"
          *ngIf="
            (currPart | async)?.type == 'host' &&
            participant.type == 'participant'
          "
        >
          <span
            ><b><u>Type:</u></b>
            {{ " " + predMap[participant.attentionType] }}</span
          >
          <span
            ><b><u>Probability:</u></b>
            {{ " " + participant.prob | number: "1.2-4" }}</span
          >
        </div>
      </li>
    </ul>
  </div>

  <div class="video" *ngIf="(currPart | async)?.type != 'host'">
    <button class="btn" (click)="startVideo()">Start Video</button>
    <button class="btn" (click)="stopVideo()">Stop Video</button>
    <div class="video-container">
      <video #video width="400" height="300" autoplay muted></video>
      <canvas #canvas></canvas>
    </div>
    <div>
      <canvas #c id="c"></canvas>
      <canvas #can id="can"></canvas>
    </div>
    <!-- <p>{{ output[0] }} {{ finalMap[output[0]] }} {{ output[1] }}</p> -->
  </div>
</div>
