.video-container {
  position: relative;
}

video {
  position: absolute;
  left: 0;
  top: 0;
}

canvas {
  z-index: 10;
  border: 1px black;
  position: absolute;
  left: 0;
  top: 0;
}

#c {
  z-index: -1;
  display: none;
}

#can {
  z-index: -1;
  display: none;
  height: 150;
  width: 150;
}

.btn {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: #ff6700;
  color: #fffabd;
  padding: 6px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 500;
  border: 2px solid #ff6700;
  transition: background-color 300ms ease-in, color 300ms;
}

.btn:hover {
  background-color: #fffabd;
  color: #ff6700;
}

.room {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 360px;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "room-name tab"
    "video-container users";
}

.video {
  grid-area: video-container;
  height: 100%;
  width: 100%;
}

.video p {
  position: absolute;
  bottom: 0;
}

.room-info {
  grid-area: room-name;
  display: flex;
  justify-content: space-between;
  background-color: #fffabd;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
.room-info .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  width: 35%;
}

.room-info .room-name {
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  color: #d45e0f;
  text-align: left;
}

.room-info .room-host {
  font-family: "Roboto", sans-serif;
  font-size: large;
  font-weight: 300;
  color: #ff6700;
  text-align: right;
}

.room-info .logo {
  display: block;
  width: 440px;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
  color: #d45e0f;
  font-weight: 500;
  margin-left: 10px;
}

.tab {
  grid-area: tab;
  display: grid;
  place-items: center;
  background-color: #fffabd;
  box-shadow: inset 10px -10px 6px -8px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
  color: #d45e0f;
  font-size: xx-large;
}

.users {
  grid-area: users;
  box-shadow: inset 10px 5px 6px -8px rgba(0, 0, 0, 0.25);
  background-color: #fffef2;
}

ul {
  list-style-type: none;
}

.users li {
  height: 60px;
  padding: 0 0.5rem 0 0.5rem;
  border-bottom: 1px solid #d45e0f;
}

.users .pname {
  font-family: "Montserrat", sans-serif;
  color: #ff6700;
  font-size: 24px;
}

.users .patt {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
