.video-container {
  position: relative;
}

video {
  position: absolute;
  left: 0;
  top: 0;
}

canvas {
  z-index: 10;
  border: 1px black;
  position: absolute;
  left: 0;
  top: 0;
}

#c {
  z-index: -1;
  display: none;
}

#can {
  z-index: -1;
  display: none;
  height: 150;
  width: 150;
}
