<div>
  <!-- <div>
      <video #video width="400" height="300"  playsinline autoplay></video>
      <canvas #canvas></canvas>
  </div> -->
</div>

<div class="room">
  <div class="room-info">
    <ul>
      <li class="room-name">{{ (room | async)?.name }}</li>
      <li class="room-host">Hosted by, {{ (room | async)?.hostName }}</li>
    </ul>
  </div>

  <div class="users">
    <ul>
      <li *ngFor="let participant of participants | async">
        <div class="pname">
          {{ participant.name }}
        </div>
        <div
          class="patt"
          *ngIf="
            (currPart | async)?.type == 'host' &&
            participant.type == 'participant'
          "
        >
          <p>{{ predMap[participant.attentionType] }} {{ participant.prob }}</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="video" *ngIf="(currPart | async)?.type != 'host'">
    <button id="btnStartVideo" (click)="startVideo()">Start Video</button>
    <button id="btnSnap" (click)="stopVideo()">Stop Video</button>
    <div class="video-container">
      <video #video width="400" height="300" autoplay muted></video>
      <canvas #canvas></canvas>
    </div>
    <div>
      <canvas #c id="c"></canvas>
      <canvas #can id="can"></canvas>
    </div>
    <p>{{ predMap[output[0]] }} {{ output[1] }}</p>
  </div>
</div>
