
<p>room works!</p>
<div class="participants">
  <ul>
    <li *ngFor="let participant of participants | async">
      {{ participant.name }}
    </li>
  </ul>
  <button id="btnStartVideo" (click)="startVideo()">Start Video</button>
  <button id="btnSnap" (click)="stopVideo()">Stop Video</button>
  <!-- <div>
      <video #video width="400" height="300"  playsinline autoplay></video>
      <canvas #canvas></canvas>
  </div> -->
  <div style="position: relative" class="margin">
    <video #video  width="400" height="300"  autoplay muted ></video>
    <canvas #canvas ></canvas>
  </div>
  
</div>
